:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);

  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: var(--white);
  min-height: 50%;
}

main {
  background-color: var(--dark);
  border-top: 16px solid var(--light);
  min-height: 50%;
}

.max-width-wrapper {
  max-width: 800px;
  margin-block: 0;
  margin-inline: auto;
}

.intro-chunk {
  max-width: 415px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-block-end: 1rem;
  line-height: 1.5;
  font-size: 1.25rem;
}

p:last-child {
  margin-block-end: 0;
}

strong {
  color: var(--primary);
}

.card {
  background-color: var(--white);
  border-bottom: 8px solid var(--light);

  padding-block: 8px;
  margin-block: 48px;

  padding-inline: 24px;
}

.title {
  padding-block-start: 96px;
  padding-block-end: 64px;

  font-size: 2rem;
}

.indented-heading {
  margin-inline-start: -32px;
  background-color: var(--secondary-light);
  border-bottom: 8px solid var(--secondary-dark);
  padding-inline-start: 32px;
  padding-block: 16px;
}
